mixin all-posts(array)
  each item in array
    li.all-posts__item
      article.article-card.all-posts__article-card
        .article-card__image-wrapper
          img(src="img/content/posts/" + item.postImage width="780" height="430" loading="lazy", alt= item.postTitle).article-card__image
        .article-card__text-content
          p.article-meta.article-card__article-meta
            a(href= item.postAuthorLink).article-meta__author= item.postAuthor
            time(datetime= item.postDateTime).article-meta__date= item.postDate
          h3.article-card__title
            a(href= item.postLink).article-card__link= item.postTitle
          p.article-card__description= item.postDescription
          p.badge-list
            each badge in item.postBadges
              a(href="#" class="badge-list__item badge-list__item--" + badge.badgeColor)= badge.badgeName
