- let siteNavigation = [{linkTitle: "Blog", linkUrl: "#"},{linkTitle: "Projects", linkUrl: "#"},{linkTitle: "About", linkUrl: "#"},{linkTitle: "Newsletter", linkUrl: "#"}];
- let siteFooterList = [{linkUrl: "#", linkName: "Twitter"},{linkUrl: "#", linkName: "LinkedIn"},{linkUrl: "#", linkName: "Email"},{linkUrl: "#", linkName: "RSS feed"},{linkUrl: "#", linkName: "Add to Feedly"}];
