html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: var(--sans-serif);
  background-color: var(--color-primary);
  transition: background-color 0.3s ease-in-out;
}

.full-height {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
