extends ../layout/main-template.pug

block vars
  - var pageTitle = "About";
  - var htmlClass = "page";
  - var additionalClasses = " full-height";
  - var bodyClass = "page__body";


block content
  include ../sections/_header.pug
  include ../sections/_about-main.pug
  include ../sections/_footer.pug
