extends ../layout/main-template.pug

block vars
  - var pageTitle = "The Blog";
  - var htmlClass = "page";
  - var bodyClass = "page__body";


block content
  include ../sections/_header.pug
  include ../sections/_footer.pug

