extends ../layout/main-template.pug

block vars
  - var pageTitle = "Projects";
  - var htmlClass = "page";
  - var additionalClasses = " full-height";
  - var bodyClass = "page__body";


block content
  include ../sections/_header.pug
  include ../sections/_projects-main.pug
  include ../sections/_footer.pug
