.container {
  --container-width: 1246px;

  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container-width);

  @include max-lg {
    --container-width: 800px;

    padding: 0 32px;
  }

  @include max-xs {
    padding: 0 15px;
  }
}
