@mixin font($name, $font-family, $weight, $style, $font-name-local, $font-name-local-alternate) {
  @font-face {
    src:
      local("#{$font-name-local}"),
      local("#{$font-name-local-alternate}"),
      url("../fonts/" + $name + ".woff2") format("woff2");
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

// @include hover {}

@mixin hover-focus {
  @media (hover: hover) {
    &:focus {
      @content;
    }

    &:hover {
      @content;
    }
  }
}

// @include hover-focus {}

$xs: 375px; // 375
$sm: 425px; // 425
$md: 680px; // 680
$lg: 940px; // 940

@mixin max-xs {
  @media (max-width: $xs) {
    @content;
  }
}

// @include max-xs {}

@mixin max-sm {
  @media (max-width: $sm) {
    @content;
  }
}

// @include max-sm {}

@mixin max-md {
  @media (max-width: $md) {
    @content;
  }
}

// @include max-md {}

@mixin max-lg {
  @media (max-width: $lg) {
    @content;
  }
}

// @include max-lg {}
