header.site-header.page__site-header
  .container.site-header__container
    a(href="/").logo.site-header__logo Your Name
    nav.site-navigation
      a(href="/").logo.site-navigation__logo Your Name
      ul.site-navigation__list
        +site_menu(siteNavigation)
      button(type="button" aria-label="Change theme").theme-toggle.site-navigation__theme-toggle
        span.theme-toggle__switch-slider
      button(type="button" aria-label="Close menu").close-button.site-navigation__close-button
        span.close-button__line
    button(type="button" class="burger-button" aria-label="Open menu")
      span.burger-button__line


