header.header This is header
  button(type="button" class="burger-button" aria-label="Открыть меню")
    span.burger-button__line
picture
  source(type="image/avif" srcset="")
  source(type="image/webp" srcset="")
  img(src="" loading="lazy" width="" height="").
