section.recent-posts
  .container
    h2.section-title Recent blog posts
    .recent-posts__row
      .recent-posts__column
        article.big-article
          | big article
      .recent-posts__column
        article.small-article
          | small article
        article.small-article
          | small article
