section.recent-posts.page__recent-posts
  .container
    h2.section-title Recent blog posts
    .recent-posts__row
      .recent-posts__column
        article.article-card
          .article-card__image-wrapper
            img(src="img/recent-article-img-1.jpg" width="780" height="430" loading="lazy", alt="UX review presentations").article-card__image
          .article-card__text-content
            p.article-meta.article-card__article-meta
              a(href="#").article-meta__author Olivia Rhye
              time(datetime="2023-01-01").article-meta__date 1 Jan 2023
            h3.article-card__title
              a(href="#").article-card__link UX review presentations
            p.article-card__description How do you create compelling presentations that wow your colleagues and impress your managers?
            p.badge-list
              a(href="#").badge-list__item.badge-list__item--purple Design
              a(href="#").badge-list__item.badge-list__item--deep-blue Research
              a(href="#").badge-list__item.badge-list__item--red-violet Presentation
      .recent-posts__column
        article.article-card.article-card--row.article-card--small-card
          .article-card__image-wrapper
            img(src="img/recent-article-img-2.jpg" width="780" height="430" loading="lazy", alt="Migrating to Linear 101").article-card__image
          .article-card__text-content
            p.article-meta.article-card__article-meta
              a(href="#").article-meta__author Phoenix Baker
              time(datetime="2023-01-01").article-meta__date 1 Jan 2023
            h3.article-card__title
              a(href="#").article-card__link Migrating to Linear 101
            p.article-card__description Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get...
            p.badge-list
              a(href="#").badge-list__item.badge-list__item--cerulean Design
              a(href="#").badge-list__item.badge-list__item--red-violet Research
        article.article-card.article-card--row.article-card--small-card
          .article-card__image-wrapper
            img(src="img/recent-article-img-3.jpg" width="780" height="430" loading="lazy", alt="Building your API Stack").article-card__image
          .article-card__text-content
            p.article-meta.article-card__article-meta
              a(href="#").article-meta__author Lana Steiner
              time(datetime="2023-01-01").article-meta__date 1 Jan 2023
            h3.article-card__title
              a(href="#").article-card__link Building your API Stack
            p.article-card__description The rise of RESTful APIs has been met by a rise in tools for creating, testing, and manag...
            p.badge-list
              a(href="#").badge-list__item.badge-list__item--green Design
              a(href="#").badge-list__item.badge-list__item--red-violet Research
    article.article-card.article-card--row.article-card--big-card
      .article-card__image-wrapper
        img(src="img/recent-article-img-4.jpg" width="780" height="430" loading="lazy", alt="Grid system for better Design User Interface").article-card__image
      .article-card__text-content
        p.article-meta.article-card__article-meta
          a(href="#").article-meta__author Olivia Rhye
          time(datetime="2023-01-01").article-meta__date 1 Jan 2023
        h3.article-card__title
          a(href="#").article-card__link Grid system for better Design User Interface
        p.article-card__description A grid system is a design tool used to arrange content on a webpage. It is a series of vertical and horizontal lines that create a matrix of intersecting points, which can be used to align and organize page elements. Grid systems are used to create a consistent look and feel across a website, and can help to make the layout more visually appealing and easier to navigate.
        p.badge-list
          a(href="#").badge-list__item.badge-list__item--purple Design
          a(href="#").badge-list__item.badge-list__item--red-violet Interface
