.pagination
  .container.pagination__container
    a(href="#").pagination__previous-link Previous
    ul.pagination__list
      li.pagination__item
        a.pagination__link.pagination__link--current 1
      li.pagination__item
        a(href="#").pagination__link 2
      li.pagination__item
        a(href="#").pagination__link 3
      li.pagination__item
        span.pagination__link--disabled ...
      li.pagination__item
        a(href="#").pagination__link 8
      li.pagination__item
        a(href="#").pagination__link 9
      li.pagination__item
        a(href="#").pagination__link 10
    a(href="#").pagination__next-link Next
