.all-posts__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-right: -32px;
  margin-bottom: -19px;
  padding: 0;

  @include max-lg {
    margin-bottom: 5px;
  }

  @include max-md {
    margin-right: 0;
  }
}

.all-posts__item {
  flex-grow: 0;
  flex-basis: calc((100% - 32px * 3) / 3);
  margin-right: 32px;
  margin-bottom: 48px;

  @include max-lg {
    flex-basis: calc((100% - 32px * 2) / 2);
    margin-bottom: 24px;
  }

  @include max-md {
    flex-basis: 100%;
    margin-right: 0;
  }

  @include max-sm {
    margin-bottom: 24px;
  }
}

.all-posts__article-card .article-card__image-wrapper {
  height: 240px;

  @include max-xs {
    height: 200px;
  }
}
