.article-card {
  display: flex;
  flex-direction: column;
}

.article-card--row {
  flex-direction: row;
  align-items: flex-start;
}

.article-card--small-card:not(:last-of-type) {
  margin-bottom: 32px;
}

.article-card__image-wrapper {
  margin-bottom: 32px;
  height: 228px;
}

.article-card--row .article-card__image-wrapper {
  flex-basis: 50%;
  margin-right: 24px;
  margin-bottom: 0;
  height: 200px;
}

.article-card--big-card .article-card__image-wrapper {
  margin-right: 32px;
  height: 246px;
}

.article-card--small-card .article-card__image-wrapper {
  flex-basis: 64.6%;
}

.projects__item .article-card__image-wrapper {
  height: 330px;
}

.projects__item--full-width .article-card__image-wrapper {
  height: 556px;
}

.article-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card--row .article-card__text-content {
  flex-basis: 50%;
}

.article-card__article-meta {
  margin-bottom: 13px;
}

.article-card__title {
  margin-top: 0;
  margin-bottom: 12px;
}

.article-card--small-card .article-card__title {
  margin-bottom: 8px;
}

.article-card__link {
  display: block;
  padding-right: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: var(--color-title);
  background-image: url("../img/arrow-up-right-day.svg");
  background-position: top 3px right 0;
  background-size: 24px;
  background-repeat: no-repeat;
  transition: color 0.3s ease-in-out;

  @include hover-focus {
    text-decoration: underline;
  }
}

.dark-theme .article-card__link {
  background-image: url("../img/arrow-up-right-night.svg");
}

.article-card--small-card .article-card__link {
  padding-right: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  background-image: initial;
}

.article-card__description {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-paragraph);
}
