.article-post__article-meta {
  margin-bottom: 32px;
}

.article-post__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  color: var(--color-title);
}

.article-post__image {
  display: block;
  margin-bottom: 32px;
  width: 100%;
  object-fit: contain;
}
