.burger-button {
  position: relative;
  display: none;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;

  @include px680 {
    display: block;
  }
}

.burger-button__line {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border-radius: 2px;
  width: 24px;
  height: 3px;
  background-color: var(--color-title);
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.burger-button__line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  display: block;
  border-radius: 2px;
  width: 24px;
  height: 3px;
  background-color: var(--color-title);
  transition:
    top 0.3s 0.3s ease,
    transform 0.3s ease;
}

.burger-button__line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  border-radius: 2px;
  width: 24px;
  height: 3px;
  background-color: var(--color-title);
  transition:
    top 0.3s 0.3s ease,
    transform 0.3s ease;
}
