.full-post {
  display: flex;
  flex-direction: row-reverse;

  @include max-lg {
    flex-direction: column;
  }
}

.full-post__article-post {
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 32px;
  max-width: 780px;

  @include max-lg {
    margin-bottom: 64px;
  }
}

.full-post__latest-posts {
  flex: 1 1 404px;
  margin-right: 32px;

  @include max-lg {
    margin-right: 0;
  }
}
