.full-post {
  display: flex;
  flex-direction: row-reverse;
}

.full-post__article-post {
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 780px;
}

.full-post__latest-posts {
  flex: 1 1 406px;
  margin-right: 32px;
}
