.latest-posts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.latest-posts__item .article-card__image-wrapper {
  @include max-lg {
    height: 240px;
  }

  @include max-sm {
    height: 200px;
  }
}

.latest-posts__item:not(:last-of-type) {
  margin-bottom: 32px;
}
