.pagination__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-pagination-border);
  padding-top: 21px;
  padding-bottom: 30px;

  @include max-md {
    flex-direction: column;
  }
}

.pagination__previous-link {
  padding-left: 28px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-pagination);
  background-image: url("../img/icons/arrow-left-day.svg");
  background-position: left center;
  background-size: 20px;
  background-repeat: no-repeat;

  @include hover-focus {
    text-decoration: underline;
  }

  @include max-md {
    margin-bottom: 20px;
  }
}

.dark-theme .pagination__previous-link {
  background-image: url("../img/icons/arrow-left-night.svg");
}

.pagination__next-link {
  padding-right: 28px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-pagination);
  background-image: url("../img/icons/arrow-right-day.svg");
  background-position: right center;
  background-size: 20px;
  background-repeat: no-repeat;

  @include hover-focus {
    text-decoration: underline;
  }
}

.dark-theme .pagination__next-link {
  background-image: url("../img/icons/arrow-right-night.svg");
}

.pagination__previous-link--disable,
.pagination__next-link--disable {
  opacity: 0.6;

  @include hover-focus {
    text-decoration: none;
  }
}

.pagination__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include max-md {
    margin-bottom: 20px;
  }
}

.pagination__item:not(:last-of-type) {
  margin-right: 2px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  height: 40px;
  min-width: 40px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-pagination);
}

.pagination__link[href] {
  @include hover-focus {
    color: var(--color-pagination-current);
    background-color: var(--color-pagination-current-bg);
  }
}

.pagination__link--current {
  color: var(--color-pagination-current);
  background-color: var(--color-pagination-current-bg);
  cursor: default;
}

.pagination__link--disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  height: 40px;
  min-width: 40px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-pagination);
}
