.page__site-header {
  margin-bottom: 20px;
}

.page__page-title {
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  max-width: 1216px;

  @include px425 {
    margin-bottom: 50px;
  }
}

.page__recent-posts {
  margin-bottom: 60px;
}

.page__subscription {
  margin-top: 15px;
  margin-bottom: 64px;
}

.page__about {
  margin-bottom: -13px;
}
