.page-title {
  border-top: 1px solid var(--color-title-border);
  border-bottom: 1px solid var(--color-title-border);

  @include max-lg {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    max-width: none;
  }
}

.page-title__container {
  @include max-lg {
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;
    max-width: 800px;
  }

  @include max-xs {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.page-title__text {
  margin: 0;
  font-weight: 700;
  font-size: 243px;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-title);
}
