.projects__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-right: -32px;
  padding: 0;
}

.projects__item {
  flex-basis: 592px;
  margin-right: 32px;
  margin-bottom: 32px;
}

.projects__item--full-width {
  flex-basis: 100%;
}
