.projects__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-right: -32px;
  padding: 0;

  @include max-md {
    margin-right: 0;
  }
}

.projects__item {
  flex-grow: 1;
  flex-basis: calc((100% - 32px * 2) / 2);
  margin-right: 32px;
  margin-bottom: 32px;

  @include max-md {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.projects__item--full-width {
  flex-basis: 100%;
}
