.recent-posts__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  @include max-lg {
    flex-direction: column;
  }
}

.recent-posts__column {
  flex: 1 0.5 50%;
}

.recent-posts__column:first-of-type {
  flex-shrink: 8;
  margin-right: 32px;

  @include max-lg {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
