.site-footer {
  padding: 30px 0;
}

.site-footer__container {
  display: flex;
  flex-wrap: wrap;

  @include max-md {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.site-footer__copyright {
  margin: 0;
  margin-right: 14px;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-title);
}

.site-footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include max-md {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}

.site-footer__item:not(:last-of-type) {
  margin-right: 15px;

  @include max-md {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.site-footer__link {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-title);

  @include hover-focus {
    text-decoration: underline;
  }
}
