.subscription-form__row {
  display: flex;
  justify-content: center;

  @include max-xs {
    flex-direction: column;
  }
}

.subscription-form__input-wrapper {
  flex-basis: 360px;
  margin-right: 16px;

  @include max-xs {
    flex-basis: auto;
    margin-right: 0;
  }
}

.subscription-form__input {
  margin-bottom: 8px;
  border: 1px solid var(--color-input-border);
  border-radius: 8px;
  padding: 12px 15px;
  width: 100%;
}

.subscription-form__signature {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-paragraph);

  @include max-xs {
    margin-bottom: 10px;
  }
}

.subscription-form__signature a {
  color: var(--color-paragraph);

  @include hover-focus {
    color: var(--color-accent);
  }
}

.subscription-form__button {
  @include max-xs {
    width: 100%;
  }
}
